/pom.xml
*jar
/lib
/classes
/native
/target
/.lein-failures
/checkouts
/.lein-deps-sum
/.lein-plugins

### Clojure template
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
